@model Mascota

@section mascota1 {
    <img src="~/Images/gato1.png" class="bd-placeholder-img rounded-circle" width="140" height="140" />
    <h2 class="fw-normal">@Model.Nombre</h2>
    <p>@Model.Raza</p>
    <p>Peso: @Model.Peso</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
}

    <h1>VISTA MASCOTA</h1>
    <img src="~/Images/gato1.png" class="bd-placeholder-img rounded-circle" width="500" height="500" />
    <h2 class="fw-normal">@Model.Nombre</h2>
    <p>@Model.Raza</p>
    <p>Peso: @Model.Peso</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>